body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/*********** HEADER ************/

header {
    font-family: 'Roboto Slab', serif;
    background-color: olivedrab;
    color: white;
    padding: 10px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

h1 {
    margin: 0;
}

h2 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    color: black;
}

h3 {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    color: black;
    font-size: 1em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

/*********** LISTS ************/

#todo-lists {
    margin: 0 auto;
    padding-top: 10px;
    width: 80%;
}

.list {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.list a {
    text-decoration: none;
    color: black;
}

.list-title {
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
}

button {
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    color: black;
    font-size: 0.8em;
}

input {
    padding: 10px;
    font-size: 0.8em;
}

.column{
    float: left;
    width:45%;
    padding:5px;
}

.row::after{
    content:"";
    clear:both;
    display:table;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.right{
    position:absolute;
    right:50px;
}

.rightBox{
    position:absolute;
    right:100px;
}